body {
  margin: 0;
  padding: 0;
  background-color: #303030;
  color: white;
  text-align: center;
}
/*-----------------definicion nombres items(hijos)---------------------------*/
.header {
  grid-area: header;/*define nombre al container .header*/
  background-color: darkviolet;
}
.menu {
  grid-area: menu;/*define nombre al container .menu*/
  background-color: darkviolet;
}
.main {
  grid-area: main;/*define nombre al container .main*/
  background-color: darkviolet;
}
.footer {
  grid-area: footer;/*define nombre al container .footer*/
  background-color: darkviolet;
}
/*---------------------------------------------------------------------------*/

.grid-container {
  height: 100vh;
  display: grid;/*habilita este container a modo grilla*/
  grid-template-areas:/*posiciona items(hijos) usando los nombres arriba definidos*/
   "header header header"
   "menu main main"
   "footer footer footer";
  gap: 10px;/*define espaciado horizontal-vertical entre items(hijos)*/
}